
  .homepage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  #login-failed {
    color: red;
  }
  
  .login-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255);
    height:40vh;
    width:40vw;
    border-radius: 2vh;
    box-shadow: 5px 10px 8px #888888;
  }
  
  .login-section h2 {
    margin-bottom: 10px;
  }
  
  .login-section input {
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  .login-section button {
    padding: 10px 20px;
    box-shadow: 5px 10px 8px #888888;
    background-color: white;
    border-radius: 5px;
  }

  .login-section button:hover{
    padding: 10px 20px;
    box-shadow: 5px 10px 8px #888888;
    background-color: white;
    border-radius: 5px;
    width: 15%;

  }

  
  